body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: left;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand:hover {
  color: #f8f9fa;
}
